html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* UNIVERSAL STYLES */

body {
  color: #6A6B70;
  font-family: 'Open Sans', sans-serif;
}

button {
  background-color: white;
}

/* HEADER STYLES */

.header-menu {
  display: flex;
}

.blue {
  background-color: #15a5fb;
}

.header-menu-input {
  background: url(./images/magnifying-glass.svg) no-repeat;
  border: 1px solid gray;
  flex-grow: 5;
  max-height: 40px;
  padding-left: 7%;
  text-overflow: ellipsis;
  background-position: 5px;
}

.header-menu-button {
  border: 1px solid gray;
  flex-grow: 1;
  font-size: 1em;
  height: 40px;
}

.header-menu-button img {
  max-height: 15px;
}

.hamburger-menu-button {
  margin-left: -5px;
}

/* SECONDARY MENU STYLES */

h1 {
  font-size: 1.3em;
  font-weight: bold;
}

h2 {
  font-size: 0.8em;
}

h2 span {
  padding: 0 8px;
}

h1,
h2 {
  margin: 8px 0 5px 10px;
}

.location-icon {
  max-height: 15px;
}

.preview {
  color: #15a5fb;
}

.secondary-menu-button-div {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-around;
}

.secondary-menu-button {
  border-radius: 50%;
  border: 1px solid gray;
  height: 40px;
  width: 40px;
}

.open-button {
  border-radius: 30px;
  width: 100px;
}

.open::before {
  background-color: #8BC745;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}

.secondary-icon img {
  height: 20px;
}

.secondary-menu-list {
  display: flex;
  font-size: .65em;
  justify-content: space-around;
}

.secondary-menu-list li {
  padding-bottom: 10px;
}

.active-tab {
  border-bottom: 4px solid #15a5fb;
}

.mobile-hide-list-item {
  display: none;
}

/* ASIDE STYLES */

aside {
  display: none;
}

/* GRAPH STYLES */

.graph-area {
  background-color: #EDF2F6;
  border-bottom: 1px solid grey;
  height: 120px;
}

.graph-image-area {
  display: flex;
  justify-content: center;
}

.graph-one,
.graph-two,
.graph-three,
.mobile-hide-caption {
  display: none;
}

.graph-four {
  background-color: #15a5fb;
  height: 70px;
  margin: 10px 0;
  width: 200px;
}

.graph-caption {
  background-color: white;
  border-radius: 40px;
  border: 2px solid gray;
  display: block;
  height: 25px;
  margin: 0 auto;
  padding-top: 4px;
  text-align: center;
  width: 50%;
}

.mobile-hide-caption {
  display: none;
}

/* JOB DESCRIPTION STYLES */


/* FOOTER STYLES */

footer {
  background-color: #EDF2F6;
}

.social-media-section {
  display: grid;
  grid-column-gap: 3px;
  grid-template-columns: 1fr 1fr 1fr;
  height: 35px;
  margin: 5px 0;
}

.social-media-icon {
  height: 20px;
}

.facebook {
  background-color: #4A6FC0;
}

.twitter {
  background-color: #00A8EF;
}

.linkedin {
  background-color: #037FBB;
}

.social-media-text {
  display: none;
}

.secondary-footer {
  display: flex;
  height: 50px;
}

.footer-links {
  font-weight: bold;
  text-align: center;
  width: 33%;
}

footer h3 {
  font-size: .7em;
  margin-top: 2px;
}

footer img {
  height: 15px;
  margin: 0 auto;
}

footer input {
  display: none;
}

.copy-button {
  background-color: #45BABD;
  color: white;
  display: none;
}
